@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
   background-color: #251C31;
   color: white
  }

  .scrol::-webkit-scrollbar {
    width: 1px;
    height: 2px;
  }

  .scrol::-webkit-scrollbar-thumb {
    background: darkgrey;
  }

  .scrol::-webkit-scrollbar-thumb:hover {
    background: #942838;
  }
}
